<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Order System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" type="text/css" href="main.css"></link>
</head>
<body>
    <h1><a href="home">Order System</a></h1>
    <ul>
        <li><a href="customers">Customers</a></li>
        <li><a href="products">Products</a></li>
        <li><a href="orders">Orders</a></li>
    </ul>
</body>
</html>